<!doctype html>
<html ng-app="hcApp">
<head>
<title>Desafio Moip</title>

</head>

<body ng-controller="HealthCheckController as controller">
	<a ng-href='#here' ng-click='showData()'>HealthCheck</a>
	
	<div ng-repeat="data in controller.mydata" >
		<ul style="list-style-type: decimal">
			<li	ng-repeat="request in data.webhooksURLList | filter:query  | limitTo:quantity ">Request_TO : {{request.requestUrl}} - Quantity: {{request.qtdRequestUrl}}</li>
		</ul>
	</div>
	
	<div ng-repeat="data in controller.mydata">
		<ul style="list-style-type: decimal">
			<li	ng-repeat="status in data.statusURLList">HttpResponse : {{status.urlResponseCode}} - Quantity: {{status.qtdResponseCode}}</li>
		</ul>
	</div>
</body>

<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.js"></script>
<script type="text/javascript" src="app.js"></script>
</body>
</html>